<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Ekomers Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <!--webfont-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
</head>
<body>
<div id="container">
    <div id="header" class="header">
        <div class="container">
            <div class="header_top">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt=""/>
                </div>
                <div class="top-nav">
                    <span class="menu"><img src="{{ url_for('static', filename='images/menu.png') }}" alt=""/></span>
                    <ul class="nav1">
                        <li class="active"><a href="{{ url_for('home') }}">Home </a></li>
                    </ul>
                    <!-- script-for-menu -->
                    <script>
                        $("span.menu").click(function () {
                            $("ul.nav1").slideToggle(300, function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- /script-for-menu -->
                </div>
                <ul class="widget">
                    <a href="{{ url_for('register') }}">
                        <li class="join">Join Now</li>
                    </a>
                    <a href="{{ url_for('login') }}">
                        <li class="login">Login</li>
                    </a>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="wmuSlider example1">
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-wrap">
                        <div class="header_desc">
                            <div class="border"></div>
                            <h1>Smart Solution for Your Shop</h1>
                            <div class="button">
                                <a href="#" class="head_but">Join Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="banner">
                        <img src="{{ url_for('static', filename='images/slide2.png') }}" class="img-responsive" alt=""/>
                    </div>
                </article>
                <article style="position: relative; width: 100%; opacity: 1;">
                    <div class="banner-wrap">
                        <div class="header_desc">
                            <div class="border"></div>
                            <h1>Smart Solution for Your Shop</h1>
                            <div class="button">
                                <a href="#" class="head_but">Join Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="banner">
                        <img src="{{ url_for('static', filename='images/slide1.png') }}" class="img-responsive" alt=""/>
                    </div>
                </article>
                <script src="{{ url_for('static', filename='js/jquery.wmuSlider.js') }}"></script>
                <script>
                    $('.example1').wmuSlider();
                </script>
            </div>
        </div>
    </div>
    <div id="content">

    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="copy">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt=""/>
            </div>
        </div>
    </div>
</div>
</body>
</html>		
